<!DOCTYPE html><html id="lo"><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }} &mdash; {{ page.title }}</title>
<style>{% include style.css %}</style>
</head>
<body>
<header><a href="{{ '/' | relative_url }}"><b>{{ site.title }}</b></a></header>
{% include nav.html %}
<main>
{{ content }}
</main>
<footer>
  <a href="{{ '/' | relative_url }}">{{ site.title }}</a>&bull; flat-file text database
  <hr/>
</footer>
</body></html>
