<!DOCTYPE html><html id="lo"><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }} &mdash; {{ page.title }}</title>
<link href="{{ '/site/style.css' | relative_url }}" type="text/css" rel="stylesheet">
</head>
<body>
<header><a href="{{ '/' | relative_url }}"><b>{{ site.title }}</b></a></header>
{% include nav.html %}
<main>
{{ content }}
</main>
<footer>
  <a href="{{ '/' | relative_url }}">{{ site.title }}</a>&bull; flat-file text database
  <div class="right"><a href="https://github.com/XXIIVV/oscean" target="_blank">oscean</a></div>
  <hr/>
</footer>
</body></html>
